<p><b> Convocadas por José Roberto Guimarães para a seleção feminina são: <br> <br></b>

  Ana Carolina - central - Praia Clube <br>
  Ana Cristina - ponteira - Fenerbahçe SK (TUR) <br>
  Bruna Honório - oposta - KS Developres Rzeszów (POL) <br>
  Cláudia Bueno - levantadora - Praia Clube <br>
  Diana - central - Barueri Volleyball Club <br>

  Gabi - ponteira - Vakifbank SK (TUR) <br>
  Julia Bergmann - ponteira - Georgia Tech (Estados Unidos) <br>
  Julia Kudiess - central - Minas TC <br>
  Karina Souza - ponteira - Sesi-SP <br>
  Kasiely Clemente - ponteira - Praia Clube <br>

  Kenya Malachias - levantadora - Osasco <br>
  Kisy Nascimento - oposta - Minas TC <br>
  Lais Vasques - líbero - Barueri Volleyball Club <br>
  Lorena - central - Barueri Volleyball Club <br>
  Lorenne - oposta - Ageo Medics (JPN) <br>

  Lorrayna Marys - oposta - Barueri Volleyball Club <br>
  Macris - levantadora - Minas TC <br>
  Mayany - central - Sesi-SP <br>
  Milka Marcília - central - Sesc/CR Flamengo <br>
  Natinha - líbero - Sesc/CR Flamengo <br>

  Nyeme Victória - líbero - Sesi-SP <br>
  Priscila Daroit - central - Minas TC <br>
  Roberta - levantadora - LKS Lodz (POL) <br>
  Rosamaria - oposta - Novara (ITA) <br>
  Tainara Santos - ponteira - Praia Clube </p>
  <br>

  <img src="assets/img/jogadorasf.jpeg" alt="" width="50%">
