<p>
  <b>Lista de Convocados VNL 2022<br></b> <br>
  Adriano Xavier – ponteiro do Vôlei Renata (SP) <br>
Alan Souza – oposto<br>
Alexandre Elias – líbero do Vôlei Renata (SP)<br>
Bruno Rezende - levantador do Modena (Itália)<br>
Darlan Souza – oposto do Sesi-SP<br>
Felipe Roque – oposto<br>
Fernando Kreling (Cachopa) – levantador do Sada Cruzeiro (MG)<br>
Flávio Gualberto – central do Vibo Valentia (Itália)<br>
Franco Paese – oposto do Vedacit Vôlei Guarulhos (SP)<br>
Gabriel Vaccari - ponteiro do Tourcoing (França)<br>
Henrique Honorato - ponteiro do Fiat/Gerdau/Minas (MG)<br>
Isac Santos – central do Sada Cruzeiro (MG)<br>
João Rafael - ponteiro do Zamalek (Egito)<br>
Leandro Santos (Aracaju) - central do Tours (França)<br>
Léo de Andrade – central do Sesi-SP<br>
Lucão – central do Vôlei Renata (SP)<br>
Lucarelli - ponteiro do Civitanova (Itália)<br>
Maique Reis - líbero do Fiat/Gerdau/Minas (MG)<br>
Matheus Brasília – levantador do Sesi-SP<br>
Rodrigo Leão (Rodriguinho) – ponteiro do Sada Cruzeiro (MG)<br>
Thales Hoss – líbero do Funvic Natal (RN)<br>
Victor Birigui – ponteiro do Sesi-SP<br>
Yoandy Leal – ponteiro do Modena (Itália)<br>
</p>
<br>
<img src="assets/img/jogadoresm.jpg" alt="" width="60%">
